Pass
{		
	Tags { "LightMode"=${VFXPassVelocity} }
	
	${VFXStencilMotionVector}

	ZWrite On
	Blend Off
	
	HLSLPROGRAM
	#if !USE_ALPHA_TEST //alpha treshold is always customizable in shadow pass or velocity pass
	#define USE_ALPHA_TEST 1
	#endif
	#define VFX_PASSDEPTH VFX_PASSDEPTH_MOTION_VECTOR
	${VFXInclude("Shaders/ParticleHexahedron/PassDepthOrMV.template")}
	ENDHLSL
}
